body,
html {
  max-width: 100%;
  overflow-x: hidden;
}
// prevent horizontal scrolling

#event_page {
  .page__content {
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  .event-tab {
    margin-right: 60px;
  }
  ons-list {
    overflow-y: auto;
    height: 100%;
  }
  /// --------------- PEEK SLIDER----------------------///
  #peek_slider {
    height: 100%;
    width: 400px;
    float: right;
    position: relative;
    left: 20em;
    z-index: 99;
    border-bottom: solid black 1px;
    background: rgba(0,0,0,0.8);

    ons-icon {
        font-size: 2.5em;
        width: 40px;
    }

    .peek-item-text {
        font-size: 1.25em;
        margin-left: 15px;
    }

    ons-list-item {
      padding-left: 0.75em;
      background: rgba(0,0,0,0);
      color: white;
      box-shadow: 0 0 2px 0 rgb(0, 0, 0);
    }

    ons-list-item.active {
      border-left: 0.4em #009688 solid;
    }

    .corner-button {
      position: fixed;
      bottom: 0;
      background-color: #009688;
      height: 2.65em;

      ons-icon {
        font-size: 1.5em;
        width: 40px;
        margin-left: 5px;
      }
    }
  }
}
