<!------------------------->
<!-- EVENT PAGES HUD -->
<!------------------------->
<ons-page id="event_page">
  <!-- Event Toolbar -->
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="$location.path('/')">
        <ons-icon icon="ion-ios-arrow-back" style="font-size: 32px; width: 1em;"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">{{plan.meta.name}}</div>
    <div class="right">
      <ons-toolbar-button ng-click="slider.togglePeek();">
        <ons-icon icon="ion-navicon-round" style="vertical-align: -4px; font-size: 32px;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <!-- Event Peek Slider -->
  <ons-list id="peek_slider" var="peek_slider">
    <ons-list-item modifier="chevron" ng-click="slider.openPage('plan');" ng-class="{active: nav.topPage.name=='plan'}">
      <ons-icon icon="ion-clipboard"></ons-icon>
      <div class="peek-item-text">Plan</div>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="slider.openPage('chat')" ng-class="{active: nav.topPage.name=='chat'}">
      <ons-icon icon="ion-chatboxes"></ons-icon>
      <div class="peek-item-text">Chat</div>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="slider.openPage('map');" ng-class="{active: nav.topPage.name=='map'}">
      <ons-icon icon="ion-map"></ons-icon>
      <div class="peek-item-text">Map</div>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="slider.openPage('members')" ng-class="{active: nav.topPage.name=='members'}">
      <ons-icon icon="ion-ios-people"></ons-icon>
      <div class="peek-item-text">Members</div>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="slider.openPage('placeholder')" ng-class="{active: nav.topPage.name=='placeholder'}">
      <ons-icon icon="fa-question-circle"></ons-icon>
      <div class="peek-item-text">Polls</div>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="slider.openPage('placeholder')" ng-class="{active: nav.topPage.name=='placeholder'}">
      <ons-icon icon="ion-images"></ons-icon>
      <div class="peek-item-text">Media Share</div>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="slider.openPage('placeholder')" ng-class="{active: nav.topPage.name=='placeholder'}">
      <ons-icon icon="ion-card"></ons-icon>
      <div class="peek-item-text">Pay Split</div>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="slider.openPage('settings')" ng-class="{active: nav.topPage.name=='settings'}" style="margin-bottom:2.65em;">
      <ons-icon icon="ion-android-options"></ons-icon>
      <div class="peek-item-text">Settings</div>
    </ons-list-item>

    <ons-list-item ripple class="corner-button" ng-hide="nav.topPage.name!='chat'" ng-click="chat.sendMessage();chat.newMessage='';">
      <ons-icon icon="ion-paper-airplane"></ons-icon>
      <div class="peek-item-text">Send</div>
    </ons-list-item>

    <ons-list-item ripple class="corner-button" ng-hide="nav.topPage.name!='members'" ng-click="dialog.show();">
      <ons-icon icon="ion-person-add"></ons-icon>
      <div class="peek-item-text">Add</div>
    </ons-list-item>

    <ons-list-item ripple class="corner-button" ng-hide="nav.topPage.name!='map'" ng-click="map.toggleControls();">
      <ons-icon icon="ion-chevron-up"></ons-icon>
      <div class="peek-item-text">
        Map Controls
      </div>
    </ons-list-item>
  </ons-list>
  <!-- Event Pages Wrapper -->
  <ons-navigator id="nav" var="nav" page="chat"></ons-navigator>
</ons-page>
<!------------------------->
<!-- Plan List -->
<!------------------------->
<ons-template id="plan">
  <div class="event-tab plan-tab">
    <div class="cover-photo">
      <ons-icon icon="ion-edit" class="edit-cover" ng-click="alert('Ability to change cover photo is not yet available');"></ons-icon>
      <img ng-src="{{coverPhoto}}" />
    </div>
    <ons-row class="banner">
      <ons-col class="left" ng-click="">Going</ons-col>
      <ons-col class="center count-down">
        <p></p>
      </ons-col>
      <ons-col class="right" ng-click="">Invite</ons-col>
    </ons-row>
    <hr>
    <div class="meta-container">
      <div class="meta-section meta-description">
        <ons-row>
          <ons-col class="left">
            <h3>Description:</h3>
          </ons-col>
          <ons-col class="right">
            <a ng-cloak ng-show="mySecurityLevel <= 1 && !isDescriptionEdit" ng-click="isDescriptionEdit = !isDescriptionEdit;$('#descriptionEditor').focus()">Edit <ons-icon icon="ion-edit"></ons-icon></a>
            <a ng-cloak ng-show="mySecurityLevel <= 1 && isDescriptionEdit" ng-click="plan.saveDescription();isDescriptionEdit = !isDescriptionEdit;">Save <ons-icon icon="fa-floppy-o"></ons-icon></a>
          </ons-col>
        </ons-row>
        <div id="descriptionEditor" contenteditable="{{isDescriptionEdit}}" ng-class="{editable: isDescriptionEdit , expand: isDescriptionExpand} " ng-bind-html="plan.meta.description" placeholder="You haven't planned this event yet...&#10;What are you waiting for!"></div>
        <div ng-hide="!plan.meta.description" class="fader" style="width:100%;text-align:center;">
          <ons-icon style="font-size:1.5em;" ng-hide="isDescriptionExpand" icon="ion-chevron-down" ng-click="isDescriptionExpand = !isDescriptionExpand"></ons-icon>
          <ons-icon style="font-size:1.5em;" ng-hide="!isDescriptionExpand" icon="ion-chevron-up" ng-click="isDescriptionExpand = !isDescriptionExpand"></ons-icon>
        </div>
      </div>
      <div class="meta-section meta-location">
        <ons-row>
          <ons-col class="left">
            <h3>Location:</h3>
          </ons-col>
          <ons-col ng-cloak class="right" ng-show="mySecurityLevel <= 1">
            <a ng-click="locationPicker.show({'animation':'none'});">Add <ons-icon icon="ion-ios-plus-outline"></ons-icon> </a>
          </ons-col>
        </ons-row>
        <ons-list>
          <ons-list-item ng-repeat="(id,loc) in plan.meta.locations">
            <ons-row>
              <ons-col>
                {{loc.address}}
              </ons-col>
              <ons-icon ng-cloak ng-show="mySecurityLevel <= 1" icon="ion-android-delete" ng-click="plan.deleteLocation(id);"></ons-icon>
            </ons-row>
          </ons-list-item>
        </ons-list>
      </div>
      <div class="meta-section meta-time">
        <ons-row>
          <ons-col class="left">
            <h3>Time & Date:</h3>
          </ons-col>
          <ons-col class="right">
            <a ng-cloak ng-show="mySecurityLevel <= 1 && !isDatetimeEdit" ng-click="isDatetimeEdit = !isDatetimeEdit;">Edit <ons-icon icon="ion-edit"></ons-icon></a>
            <a ng-cloak ng-show="mySecurityLevel <= 1 && isDatetimeEdit" ng-click="plan.saveDatetime();isDatetimeEdit = !isDatetimeEdit;">Save <ons-icon icon="fa-floppy-o"></ons-icon></a>
          </ons-col>
        </ons-row>
        <ons-row>
          <input ng-show="isDatetimeEdit" type="datetime-local" ng-model="plan.datetime">
          <p ng-show="!isDatetimeEdit">{{plan.datetime}}</p>
        </ons-row>
      </div>
      <br><br>
      <hr><hr>Debugging data:<hr><hr> {{plan.meta}}
    </div>
    <ons-dialog ng-controller="locationPickerCtrl" var="locationPicker" id="location_picker" cancelable ons-postshow="loadMap()">
      <div id="here_map"></div>
      <img class="map-crosshair" ng-src="images/map-crosshair.svg">
      <svg class="close-button" width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1">
            <path class="map-button" ng-click="closeLocationPicker({animation:'none'});" d="M100,0 Q0,0,0,100 L0,0 100,0"/>
            <text x="3" y="20" fill="white" font-size="30" font-family="Verdana">x</text>
        </svg>
      <svg class="add-button" width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1">
            <path class="map-button" ng-click="addLocation();" d="M0,100 Q100,100,100,0 L100,100 0,100"/>
            <text x="68" y="97" fill="white" font-size="40" font-family="Verdana">+</text>
        </svg>
      <div class="search-container">
        <ons-input type="text" ng-change="searchLocation(locationSearchQuery);" ng-model="locationSearchQuery" placeholder="Location address search..."></ons-input>
        <ons-list>
          <ons-list-item ng-repeat="result in searchLocationResults" modifier="tappable" ng-click="selectResult(result);">
            {{result.Location.Address.Label}}
          </ons-list-item>
          <ons-list-item ng-hide="searchLocationResults.length != 0">No Search Result.<br>Start writing the location address in the field above.</ons-list-item>

        </ons-list>
      </div>
    </ons-dialog>
  </div>
</ons-template>
<!------------------------->
<!-- Chat Messages List -->
<!------------------------->
<ons-template id="chat">
  <div class="event-tab chat-tab">
    <p class="alert alert-danger" ng-show="err">{{err}}</p>
    <ons-list id="smsBody">
      <!-- <ons-scroller style="height: 85vh; width: 100%"> -->
      <ons-list-item ng-class='chat.getMessageClass(message)' ng-repeat="message in chat.messages" scroll-to-last>
        <div class="message-username" ng-hide="message.from == myId || message.from=='info'">
          {{message.fromUsername}}:
        </div>
        <div class="message-content">{{message.message}}</div>
        <div class="message-time">&nbsp;{{chat.formatDate(message.time)}}</div>
      </ons-list-item>
      <div id="chat_bottom_anchor"></div>
      <!--- Anchor for directive to autoscroll to bottom -->
      <!-- </ons-scroller> -->
    </ons-list>
    <ons-bottom-toolbar class="chat-bottom-toolbar">
      <input class="message-input" placeholder="Message..." ng-model="chat.newMessage" var="chat-message-input">
    </ons-bottom-toolbar>
  </div>
</ons-template>
<!------------------------->
<!-- Members List -->
<!------------------------->
<ons-template id="members">
  <div class="event-tab members-tab">
    <ons-list>
      <ons-list-header>
        Joined {{members.joined.length}}
      </ons-list-header>
      <ons-list-item ng-repeat="profile in members.joined" ng-click="openProfile(profile.$id);" class="list-item-container">
        <div class="left">
          <img ng-src="{{profile.photoURL}}" class="thumbnail">
        </div>
        <div class="center">
          <div class="list-item-content">
            <div class="name">{{plan.meta.members[profile.$id].role}}: {{profile.username}}
            </div>
            <span class="desc">{{profile.$id}}</span>
          </div>
        </div>
      </ons-list-item>
      <div ng-hide="members.invited.length == 0">
        <ons-list-header>
          Invited {{members.invited.length}}
        </ons-list-header>
        <ons-list-item ng-repeat="(id,member) in members.invited" ng-click="openProfile(id);" class="list-item-container">
          <div class="left">
            <img src="images/yeoman.png" class="thumbnail">
          </div>
          <div class="center">
            <div class="list-item-content">
              <div class="name">{{member.role}}: {{member.username}}
              </div>
              <span class="desc">{{id}}</span>
            </div>
          </div>
        </ons-list-item>
      </div>
      <div ng-hide="members.ditchers.length == 0">
        <ons-list-header>
          Ditchers {{members.ditchers.length}}
        </ons-list-header>
        <ons-list-item ng-repeat="(id,member) in members.ditchers" ng-click="openProfile(id);" class="list-item-container">
          <div class="left">
            <img src="images/yeoman.png" class="thumbnail">
          </div>
          <div class="center">
            <div class="list-item-content">
              <div class="name">{{member.role}}: {{member.username}}
              </div>
              <span class="desc">{{id}}</span>
            </div>
          </div>
          <div class="right">
            <ons-button ng-click="members.sendInvite(meta,member)">Nag</ons-button>
          </div>
        </ons-list-item>
      </div>
    </ons-list>
  </div>
  <ons-dialog var="dialog" cancelable style="height: 80vh; width: 90vw;">
    <ons-toolbar>
      <div class="center">
        <input type="text" placeholder="Filter" id="query" ng-model="query" />
      </div>
      <div class="right">
        <ons-toolbar-button ng-click="dialog.hide()">
          <ons-icon icon="fa-times" style="font-size: 32px; width: 1em;"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-list style="margin-top:56px;">
      <!-- <on-scrollable style="height:80vh;"> -->
      <ons-list-item ng-repeat="(id,username) in members.friends | friendsFilter:query" modifier="tappable">
        <label class="list__item__left">
          <label class="checkbox checkbox--list-item">
            <input
              type="checkbox"
              checklist-model="invites"
              checklist-value="id"
              class="checkbox__input">
            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
            {{username}}
          </label>
        </label>
      </ons-list-item>
      <!-- </on-scrollable> -->
    </ons-list>
    <ons-button style="bottom: 0px;position: absolute;width: 100%;font-size: 1.5em;padding: 5px;" ng-click="members.sendBulkInvites()">Invite</ons-button>
  </ons-dialog>
</ons-template>
<!------------------------->
<!-- Event Settings List -->
<!------------------------->
<ons-template id="settings">
  <div class="event-tab settings-tab">
    <h2>settings</h2>
  </div>
</ons-template>

<!------------------------->
<!-- Event Map Page      -->
<!------------------------->

<ons-template id="map">
  <div class="event-tab map-tab" style="height: 100%">
    <here-map></here-map>
    <div id="map_controls">
      <ons-icon icon="ion-chevron-up" ng-click="alert('right clicked')"></ons-icon>
      <ons-icon icon="ion-android-locate" ng-click="centerOnMe();"></ons-icon>
      <ons-icon icon="ion-android-expand" ng-click="viewAll();"></ons-icon>
      <ons-icon icon="ion-ios-bell-outline"></ons-icon>
    </div>
  </div>
</ons-template>
<!------------------------->
<!-- Placholder  - Coming soon-->
<!------------------------->
<ons-template id="placeholder">
  <div class="event-tab placeholder-tab">
    <h2>Coming Soon</h2>
  </div>
  <div id="myPin" class='pin bounce'></div>

  <div class='pulse'></div>
  </div>
</ons-template>
