<!------------------------->
<!-- EVENT PAGES HUD -->
<!------------------------->
<ons-page id="event_page">
  <!-- Event Toolbar -->
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="$location.path('/')">
        <ons-icon icon="ion-ios-arrow-back" style="font-size: 32px; width: 1em;"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">{{meta.name}}</div>
    <div class="right">
      <ons-toolbar-button ng-click="slider.togglePeek();">
        <ons-icon icon="ion-navicon-round" style="vertical-align: -4px; font-size: 32px;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <!-- Event Peek Slider -->

  <ons-list id="peek_slider" var="peek_slider">
      <ons-list-item modifier="chevron" ng-click="slider.openPage('info');" ng-class="{active: nav.topPage.name=='info'}">
        <ons-icon icon="ion-clipboard"></ons-icon>
        <div class="peek-item-text">Info</div>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="slider.openPage('chat')" ng-class="{active: nav.topPage.name=='chat'}">
        <ons-icon icon="ion-chatboxes"></ons-icon>
        <div class="peek-item-text">Chat</div>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="slider.openPage('map');" ng-class="{active: nav.topPage.name=='map'}">
        <ons-icon icon="ion-map"></ons-icon>
        <div class="peek-item-text">Map</div>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="slider.openPage('members')" ng-class="{active: nav.topPage.name=='members'}">
        <ons-icon icon="ion-ios-people"></ons-icon>
        <div class="peek-item-text">Members</div>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="slider.openPage('placeholder')" ng-class="{active: nav.topPage.name=='placeholder'}">
        <ons-icon icon="fa-question-circle"></ons-icon>
        <div class="peek-item-text">Polls</div>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="slider.openPage('placeholder')" ng-class="{active: nav.topPage.name=='placeholder'}">
        <ons-icon icon="ion-images"></ons-icon>
        <div class="peek-item-text">Media Share</div>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="slider.openPage('placeholder')" ng-class="{active: nav.topPage.name=='placeholder'}">
        <ons-icon icon="ion-card"></ons-icon>
        <div class="peek-item-text">Pay Split</div>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="slider.openPage('settings')" ng-class="{active: nav.topPage.name=='settings'}" style="margin-bottom:2.65em;">
        <ons-icon icon="ion-android-options"></ons-icon>
        <div class="peek-item-text">Settings</div>
      </ons-list-item>

    <ons-list-item ripple class="message-send-button" ng-hide="nav.topPage.name!='chat'" ng-click="chat.sendMessage();chat.newMessage='';">
        <ons-icon icon="ion-paper-airplane"></ons-icon>
        <div class="peek-item-text">Send</div>
    </ons-list-item>
  </ons-list>
  <!-- Event Pages Wrapper -->
  <ons-navigator id="nav" var="nav" page="chat"></ons-navigator>
</ons-page>
<!------------------------->
<!-- Info List -->
<!------------------------->
<ons-template id="info">
  <div class="event-tab info-tab">
    <h2>info</h2>
    <p>{{meta}}</p>
  </div>
</ons-template>
<!------------------------->
<!-- Chat Messages List -->
<!------------------------->
<ons-template id="chat">
  <div class="event-tab chat-tab">
    <p class="alert alert-danger" ng-show="err">{{err}}</p>
    <ons-list>
      <!-- <ons-scroller style="height: 85vh; width: 100%"> -->
      <ons-list-item ng-class='chat.getMessageClass(message)' ng-repeat="message in chat.messages" class="animate-enter">
        <div class="message-username" ng-hide="message.from == myId || message.from=='info'">
          {{message.fromUsername}}:
        </div>
        <div class="message-content">{{message.message}}</div>
        <div class="message-time">&nbsp;{{chat.formatDate(message.time)}}</div>
      </ons-list-item>
      <!-- </ons-scroller> -->
    </ons-list>
    <ons-bottom-toolbar class="chat-bottom-toolbar">
      <input class="message-input" placeholder="Message..." ng-model="chat.newMessage">
    </ons-bottom-toolbar>
  </div>
</ons-template>
<!------------------------->
<!-- Members List -->
<!------------------------->
<ons-template id="members">
  <div class="event-tab members-tab">
    <ons-list>
      <ons-list-item ng-repeat="member in members.list" ng-click="openProfile(id);" class="list-item-container">
        <div class="left">
          <img ng-src="{{member.photoURL}}" class="thumbnail">
        </div>
        <div class="center">
          <div class="list-item-content">
            <div class="name">{{meta.members[member.$id].role}}: {{member.username}}
            </div>
            <span class="desc">{{member.$id}}</span>
          </div>
        </div>
      </ons-list-item>
      <div ng-show="members.invited.length > 0" class="ng-hide">
        <ons-list-header>
          Invited
        </ons-list-header>
        <ons-list-item ng-repeat="(id,member) in members.invited" ng-click="openProfile(id);" class="list-item-container">
          <div class="left">
            <img src="images/yeoman.png" class="thumbnail">
          </div>
          <div class="center">
            <div class="list-item-content">
              <div class="name">{{member.role}}: {{member.username}}
              </div>
              <span class="desc">{{id}}</span>
            </div>
          </div>
        </ons-list-item>
      </div>
    </ons-list>
    <!-- <ons-if platform="firefox safari chrome ie edge android"> -->
    <ons-button class="fab" ng-click="dialog.show()">
      +
    </ons-button>
    <!-- </ons-if> -->
  </div>
  <ons-dialog var="dialog" cancelable style="height: 80vh; width: 90vw;">
    <ons-toolbar>
      <div class="center">
        <input type="text" placeholder="Filter" id="query" ng-model="query" />
      </div>
      <div class="right">
        <ons-toolbar-button ng-click="dialog.hide()">
          <ons-icon icon="fa-times" style="font-size: 32px; width: 1em;"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-list style="margin-top:56px;">
      <!-- <on-scrollable style="height:80vh;"> -->
      <ons-list-item ng-repeat="(id,username) in members.friends | friendsFilter:query" modifier="tappable">
        <label class="list__item__left">
          <label class="checkbox checkbox--list-item">
            <input
              type="checkbox"
              checklist-model="invites"
              checklist-value="id"
              class="checkbox__input">
            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
            {{username}}
          </label>
        </label>
      </ons-list-item>
      <!-- </on-scrollable> -->
    </ons-list>
    <ons-button style="bottom: 0px;position: absolute;width: 100%;font-size: 1.5em;padding: 5px;" ng-click="members.sendInvite()">Invite</ons-button>
  </ons-dialog>
</ons-template>
<!------------------------->
<!-- Event Settings List -->
<!------------------------->
<ons-template id="settings">
  <div class="event-tab settings-tab">
    <h2>settings</h2>
  </div>
</ons-template>

<!------------------------->
<!-- Event Map Page      -->
<!------------------------->

<ons-template id="map">
  <div class="event-tab map-tab" style="height: 100%">
      <div ng-init="map.loadMap();" style="height: 100%" id="map_container"></div>
  </div>
</ons-template>
<!------------------------->
<!-- Placholder  - Coming soon-->
<!------------------------->
<ons-template id="placeholder">
  <div class="event-tab placeholder-tab">
    <h2>Coming Soon</h2>
  </div>
  <div id="myPin" class='pin bounce'></div>

  <div class='pulse'></div>
  </div>
</ons-template>
