<!------------------------->
<!-- Friends Wrapper -->
<!------------------------->
<ons-page id="friends.wrapper" ng-controller="FriendsCtrl">
  <ons-tabbar var="friends_tabbar" position="top">
    <ons-tab page="friends.list" label="Friends" active="true"></ons-tab>
    <ons-tab page="friends.requests" label="Requests"></ons-tab>
    <ons-tab page="friends.groups" label="Groups"></ons-tab>
  </ons-tabbar>
</ons-page>

<!------------------------->
<!-- Friends List -->
<!------------------------->
<ons-template id="friends.list">
  <ons-list>
    <ons-list-item ng-repeat="(id,friend) in friends.list" ng-click="openProfile(id);" class="list-item-container">
      <div class="left">
        <img ng-src="images/yeoman.png" class="thumbnail">
      </div>
      <div class="center">
        <div class="list-item-content">
          <div class="name">{{friend}}
          </div>
          <span class="desc">{{id}}</span>
        </div>
      </div>
    </ons-list-item>
  </ons-list>
  <!-- <ons-if platform="firefox safari chrome ie edge android"> -->
  <ons-button class="fab" ng-click="main_tabbar.loadPage('friends.search');">
    +
  </ons-button>
  <!-- </ons-if> -->
</ons-template>


<!------------------------->
<!-- Requests List -->
<!------------------------->
<ons-template id="friends.requests">
  <!-- <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="main_slider.toggleMenu()">
            <ons-icon icon="ion-navicon"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Requests</div>
        <div class="right"></div>
      </ons-toolbar> -->
  <ons-list>
    <!-- RECEIVED REQUESTS -->
    <ons-list-header>
      <!-- <h2 style="margin:0;">Receieved</h2> -->
      Receieved
    </ons-list-header>
    <ons-list-item ng-class="{hidden: isReceived()}">
      <p style="margin:0;">Nothing found like an empty desert!</p>
    </ons-list-item>
    <ons-list-item ng-repeat="(id,request) in friends.requests.received" class="list-item-container">
      <div class="left">
        <img clas="profile-image" style="height:60px;" src="images/profile-image-01.jpg">
      </div>
      <div class="center" style="text-align:center;">
        <div class="list__item__title">{{request}}
        </div>
      </div>
      <div class="right">
        <ons-col>
          <ons-button ng-click="acceptFriendRequest(id,request)">Accept</ons-button><br><br>
          <ons-button ng-click="ignoreFriendRequest(id,request)">Ignore</ons-button>
        </ons-col>
      </div>
    </ons-list-item>
    <!-- SENT REQUESTS  -->
    <ons-list-header>
      <!-- <h2 style="margin:0;">Sent</h2> -->
      Sent
    </ons-list-header>
    <ons-list-item ng-class="{hidden: isSent()}">
      <p style="margin:0;">Nothing found like an empty desert!</p>
    </ons-list-item>
    <ons-list-item ng-repeat="(id,request) in friends.requests.sent" class="list-item-container">
      <div class="left">
        <img clas="profile-image" style="height:60px;" src="images/profile-image-01.jpg">
      </div>
      <div class="center" style="text-align:center;">
        <div class="list__item__title">{{request}}
        </div>
      </div>
      <div class="right">
        <ons-col>
          <ons-button ng-click="cancelFriendRequest(id,request)">Cancel</ons-button>
          <ons-col>
      </div>
    </ons-list-item>
  </ons-list>
</ons-template>
<ons-template id="friends.groups">
  COMING SOON ...
</ons-template>

<!------------------------->
<!-- Search Friends -->
<!------------------------->
<ons-template id="friends.search">
  <ons-page ng-controller="FriendsCtrl">
    <ons-toolbar>
      <div class="left">
        <ons-back-button ng-click="main_slider.setSwipeable(true);main_tabbar.loadPage('views/friends.html');">Back</ons-back-button>
      </div>
      <div class="center"><input type="search" id="query" name="query" placeholder="Find Friends" style="width:100%;height:98%;" ng-model="search.query" ng-change="search.executeQuery()"></div>
      <div class="right">
        <ons-toolbar-button id="dropdown-button" ng-click="search.showDropdown()" style="border-left:white dashed 1px;">
          <ons-icon class="center" ng-hide="search.type!='username'" icon="ion-person, material:md-account-circle" class="list__item__icon"></ons-icon>
          <ons-icon class="center" ng-hide="search.type!='email'" icon="ion-email, material:md-email" class="list__item__icon"></ons-icon>
          <ons-icon class="center" ng-hide="search.type!='phone'" icon="ion-ios-telephone, material:md-dialpad" class="list__item__icon"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-list>
      <ons-list-item style="display: inline;" ng-repeat="result in search.results" ng-hide="result.username == account.getUsername()" class="list-item-container">
        <ons-row style="padding:20px;">
          <ons-col>
            <img ng-src="{{result.photoURL}}" class="thumbnail">
          </ons-col>
          <ons-col>
            <div class="name">
              {{result.username}}
            </div>
            <div class="location">
              {{result.email}}
            </div>
            <div class="desc">
              {{result.phone}}
            </div>
          </ons-col>
          <ons-col>
            <ng-switch on="result.relation">
              <ons-button ng-switch-when="stranger" type="button" ng-click="sendFriendRequest(result.$id,result.username,result);">Add Friend</ons-button>
              <ons-button ng-switch-when="friend" type="button" ng-click="deleteFriend(result.$id,result.username);">Unfriend</ons-button>
              <ons-button ng-switch-when="requested" type="button" ng-click="cancelFriendRequest(result.$id,result.username,result);">Cancel</ons-button>
            </ng-switch>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <div ng-cloak ng-hide="!search.isEmptyQuery">
        <div>
          <p style="width:85%;">Use the search bar at the top to find your friends.</p>
        </div>
        <div style="position:absolute;top:5px;right:0px;">
          <ons-icon style="position:absolute;right:20px;" size="42px;" icon="hand-o-up"></ons-icon>
          <p>Choose<br>your<br>search<br>type</p>
        </div>
      </div>
      <p ng-cloak ng-hide="!search.isShortQuery">Too short, need a bit more to go with the search.</p>
          <ons-progress-circular indeterminate ng-cloak ng-hide="!search.isLoading" style="padding: 47%"></ons-progress-circular>
  </ons-page>
</ons-template>

<!------------------------->
<!-- Search Type Dropdown -->
<!------------------------->
<ons-template id="friends.search.dropdown">
  <ons-popover cancelable direction="down" ng-controller="FriendsSearchDropdownCtrl">
    <ons-list>
      <ons-list-item tappable ng-click="setSearchType('username');">
        <div class="left">
          <ons-icon icon="ion-person, material:md-account-circle" class="list__item__icon"></ons-icon>
        </div>
        <div class="center">
          Username
        </div>
      </ons-list-item>
      <ons-list-item tappable ng-click="setSearchType('email');">
        <div class="left">
          <ons-icon icon="ion-email, material:md-email" class="list__item__icon"></ons-icon>
        </div>
        <div class="center">
          Email
        </div>
      </ons-list-item>
      <ons-list-item tappable ng-click="setSearchType('phone');">
        <div class="left">
          <ons-icon icon="ion-ios-telephone, material:md-dialpad" class="list__item__icon"></ons-icon>
        </div>
        <div class="center">
          Phone Number
        </div>
      </ons-list-item>
    </ons-list>
  </ons-popover>
</ons-template>
